<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matheuscosta.pokemonapi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PokemonApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.mainactivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.pokemonlist.PokemonListActivity"
            android:label="@string/title_activity_pokemon_list"
            android:parentActivityName=".view.mainactivity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matheuscosta.pokemonapi.view.mainactivity.MainActivity" />
        </activity>
        <activity
            android:name=".view.pokemondetail.PokemonDetailActivity"
            android:label="@string/title_activity_pokemon_detail"
            android:parentActivityName=".view.pokemonlist.PokemonListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matheuscosta.pokemonapi.view.pokemonlist.PokemonListActivity" />
        </activity>
    </application>

</manifest>